<div class="layout">
  <!-- Sidebar -->
  <div class="sidebar p-3 surface-card border-round shadow-1">
    <div class="dock-wrapper">
      <ng-container *ngFor="let item of dockItems">
        <button
          pButton
          type="button"
          class="dock-btn p-button-info"
          [class.active]="isActive(item.routerLink)"
          (click)="router.navigate([item.routerLink])"
        >
          <i [class]="item.icon"></i>
          
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content p-3 surface-card border-round shadow-1">
    <router-outlet></router-outlet>
  </div>
</div>
