.dock-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Style for PrimeNG p-button inside sidebar */
.dock-btn {
  width: 100%; /* make button fill sidebar width */
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icon inside button */
.dock-btn i {
  font-size: 1.5rem;
  display: block;
}

/* Optional span label inside button */
.dock-btn span {
  font-size: 0.75rem;
  display: block;
}

.dock-btn.active {
  background: rgb(255, 255, 255) !important; /* blue background */
  color: rgb(120, 120, 120) !important;                 /* white icon and text */
  border-color: white !important;
}


/* Normal hover */
.dock-btn:hover {
  background: #f0f8ff !important;
  color: rgb(120, 120, 120) !important;    
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 100px;
  min-width: 100px;
}

.main-content {
  flex: 1;
  margin-left: 1rem;
}
