.nav-desktop {
  display: none;
}

.nav-mobile {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.mobile-menu {
  list-style: none;
  padding: 0;
}

.mobile-menu li {
  padding: 0.5rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mobile-menu li.active {
  background: var(--primary-color);
  color: #fff;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: block;
  }
  .nav-mobile {
    display: none;
  }
}
